html,
body {
  overflow-x: hidden;
  font-family: 'Source Sans Pro', sans-serif;
  background: white;
}

.btnThemeClr {
  background: #a763f6;
}

.homeTitle {
  font-size: 48px;
  font-weight: bold;
}

.homeTitle:hover {
  color: #a763f6;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.loaderCss {
  width: 10%;
  margin-top: 20%;
}

.services {
  height: 246px;
  overflow: auto;
}

.getInTouchBtn {
  position: relative;
  top: 22px;
  font-weight: bold;
  padding: 5px 30px;
}

.getInTouchBtnMobile {
  position: relative;
  font-weight: bold;
  padding: 5px 30px;
}

.services-list {
  margin-right: 10px;
}

.services-list:hover {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  margin-right: 0px;
}

.arrowRight:hover {
  color: #a763f6;
}

.removeAutoPadding {
  margin-left: -15px;
  margin-right: -15px;
}

.videoContent {
  position: relative;
  margin: 0 auto;
  height: 100vh;
}

.videoContent video {
  /* width: 100%; */
  display: block;
}

.videoContent:before {
  content: '';
  position: absolute;
  background: linear-gradient(109.15deg, #4c49e3 -1.61%, #341b47 100.61%);
  mix-blend-mode: multiply;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.videoContent .carousel-caption {
  width: 40%;
  text-align: start;
  font-size: 60px;
  font-weight: bold;
  bottom: 20%;
}

.notTimePadding {
  border: 0;
  height: 246px;
  overflow: auto;
}

.notTimePaddingMobile {
  border: 0;
  height: auto;
  overflow: auto;
}

.ntpCardTitle1 {
  font-weight: bolder;
  font-size: 32px;
}

.ntpCardTitle2 {
  font-weight: bold;
  font-size: 50px;
}

.containerCards {
  display: inline-block;
  position: relative;
}

.containerCards .projectBtn {
  position: absolute;
  left: 5%;
  bottom: 60px;
}

.projectTitle {
  font-size: 45px;
}

.projectBtn {
  padding: 5px 15px;
  background: white;
  color: black !important;
  font-size: 24px;
  box-shadow: -6px -6px black;
}

.projectBtn:hover {
  margin-bottom: 5px;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  box-shadow: -8px -8px black;
}

.bg-dark {
  background-color: #000000 !important;
}

.footer {
  padding: 30px;
  background-repeat: no-repeat;
  background-size: cover;
}

.footerMobile {
  padding: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 15px;
}

.footerIcon {
  font-size: 30px;
  background: white;
  color: black;
  padding: 2px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.footerIcon:hover {
  background: #a763f6;
  color: white;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}

.footerTitle1 {
  font-weight: bolder;
  font-size: 30px;
  margin-bttom: 10px;
}

.footerTitle2 {
  font-weight: bolder;
  font-size: 25px;
  margin-top: 30px;
}

.footerTitle3 {
  font-weight: bolder;
  font-size: 22px;
  margin-bottom: 30px;
}

.footerTitle4 {
  font-size: 20px;
}

.navbar {
  z-index: 1;
}

.homeContainer {
  margin-top: -70px;
  overflow-x: hidden;
}

.homeContainer .disableYScroll {
  overflow-y: hidden;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.1s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay span {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay span:hover,
.overlay span:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.customToggler {
  border: none;
  font-size: 25px;
}

.customToggler:focus {
  outline: none;
}

.NavGetInTouchUrl {
  color: white;
  margin: 15px;
  padding: 5px 30px;
  font-size: 25px;
}

.slider {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  overflow: hidden;
  transition: all 1s;
  height: 100%;
  z-index: 1000;
}

.slider .titleBar {
  text-align: right;
  padding: 0 20px 0 0;
  font-size: 35px;
  position: relative;
  bottom: 70px;
  color: white;
}

.slider .transparent {
  background: #00000036;
  height: 40%;
}

.slider .content {
  background-color: white;
  padding: 10px;
  color: black;
  height: 70%;
  z-index: 10;
}

.slider.close {
  top: 100%;
  height: 0;
  display: none;
}
